
.idea/.idea.BabyAgeCounter/.idea/
.vs/
BabyAgeCounter.Server/obj/
BabyAgeCounter.Server/bin/

BabyAgeCounter.Server/appsettings.Development.json

BabyAgeCounter.Server/appsettings.json

BabyAgeCounterTests/obj/
